@import "tailwindcss";


/* Custom Colors */
:root {
  --green-light: #E8F5E9;
  --green-light-hover: #D0EBDA;
  --green-light-active: #B8E1CB;
  --green-normal: #43A047;
  --green-normal-hover: #388E3C;
  --green-normal-active: #2E7D32;
  --green-dark: #1B5E20;
  --green-dark-hover: #184D1A;
  --green-dark-active: #133E14;
  --green-darker: #0B290C;

  --grey-light: #F8F8F8;
  --grey-light-hover: #F2F2F2;
  --grey-light-active: #E5E5E5;
  --grey-normal: #C9C9C9;
  --grey-normal-hover: #B1B1B1;
  --grey-normal-active: #9C9C9C;
  --grey-dark: #6E6E6E;
  --grey-dark-hover: #5C5C5C;
  --grey-dark-active: #494949;
  --grey-darker: #252525;
}

/* Custom classes */
.bg-green-normal { background-color: var(--green-normal); }
.bg-green-light { background-color: var(--green-light); }
.bg-grey-light { background-color: var(--grey-light); }
.text-green-normal { color: var(--green-normal); }
.text-grey-dark { color: var(--grey-dark); }

/* Hover & Active */
.hover\:bg-green-normal-hover:hover { background-color: var(--green-normal-hover); }
.active\:bg-green-normal-active:active { background-color: var(--green-normal-active); }
