@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

/* Custom utility classes */
@layer utilities {
  .font-outfit {
    font-family: 'Outfit', sans-serif;
  }
}
/* Custom Colors */
:root {
  --green-light: #E8F5E9;
  --green-light-hover: #D0EBDA;
  --green-light-active: #B8E1CB;
  --green-normal: #43A047;
  --green-normal-hover: #388E3C;
  --green-normal-active: #2E7D32;
  --green-dark: #1B5E20;
  --green-dark-hover: #184D1A;
  --green-dark-active: #133E14;
  --green-darker: #0B290C;

  --grey-light: #F8F8F8;
  --grey-light-hover: #F2F2F2;
  --grey-light-active: #E5E5E5;
  --grey-normal: #C9C9C9;
  --grey-normal-hover: #B1B1B1;
  --grey-normal-active: #9C9C9C;
  --grey-dark: #6E6E6E;
  --grey-dark-hover: #5C5C5C;
  --grey-dark-active: #494949;
  --grey-darker: #252525;
}

/* Custom classes */
.bg-green-normal { background-color: var(--green-normal); }
.bg-green-light { background-color: var(--green-light); }
.bg-grey-light { background-color: var(--grey-light); }
.text-green-normal { color: var(--green-normal); }
.text-grey-dark { color: var(--grey-dark); }

/* Hover & Active */
.hover\:bg-green-normal-hover:hover { background-color: var(--green-normal-hover); }
.active\:bg-green-normal-active:active { background-color: var(--green-normal-active); }
